* {
  margin : 0;
  padding : 0;
}

body {
  font-size: 2em;
  background-color: #EEEEEE;
}

h2,h3 {
  text-align: center;
}


h3 a {
  text-decoration: none;
  color : white;
}

/*........................NAVIGATION................*/

ul {
  list-style: none;
}

header .mixed-menu {
  float: right;
  margin-top: 14px;
  margin-right: 15px;
}

header .mixed-menu li {
  float: left;
  padding-right: 0.5em;
}
header .mixed-menu li a {
  font-size: 0.5em;
  text-decoration: none;
  display: inline-block;
  position: relative;
  color : white;
}

/* la barre sous le menu */
header .mixed-menu li a::after {
  margin-top: 29px;
  position: absolute;
  left: 0;
  width: 0%;
  height: 2px;
  background: white;
  content: '';
  opacity: 0;
  -webkit-transition: width 0.3s, opacity 0.2s, -webkit-transform 0.3s;
  -moz-transition: width 0.3s, opacity 0.2s, -moz-transform 0.3s;
  -o-transition: width 0.3s, opacity 0.2s, -o-transform 0.3s;
  transition: width 0.3s, opacity 0.2s,-webkit-transform 0.3s,-moz-transform 0.3s,-o-transform 0.3s,transform 0.3s;
}
header .mixed-menu li a:hover {
  text-decoration: none;
}
header .mixed-menu li a:hover::after,
header .mixed-menu li a:focus::after {
  opacity: 1;
  width: 100%;
  text-decoration: none;
}

/*...................................ACCUEIL...........*/

#accueil {
  background-color:#222831;
  color : white;
  height : 700px;
  text-align: center;
  padding-top: 250px;
}


/*...................................PRESENTATION...........*/




/*.........................PARCOURS.................*/


/*.........................FORMATION.................*/


/*.........................EXPERIENCE.................*/


/*.........................COMPETENCE.................*/
#competence {
  columns: 2;
}


/*.........................FRONT.................*/



/*.........................BACK.................*/



/*.........................REALISARION.................*/
#ordi {
  display: block;
    margin-left: auto;
    margin-right: auto;
}

/*.........................CONTACT.................*/
#contact {
  background-color: #393E46;
  color : #EEEEEE;
}
