* {
  margin : 0;
  padding : 0;
}

body {
  font-size: 2em;
  background-color: #EEEEEE;
  color : #222831;
}

h2 {
  text-align: center;
  padding-bottom: 35px;
}

h3 {
    padding-bottom: 35px;
}


h3 a {
  text-decoration: none;
  color : white;

}

html {
font-family: 'Montserrat', sans-serif;

  }

/*........................NAVIGATION................*/

ul {
  list-style: none;
}

header .mixed-menu {
  float: left;
  margin-top: 14px;
  margin-right: 15px;
  padding-left: 20px;

}

header .mixed-menu li {
  float: left;
  padding-right: 0.5em;
}
header .mixed-menu li a {
  font-size: 0.6em;
  text-decoration: none;
  display: inline-block;
  position: relative;
  color : white;
  text-shadow: 0px 0px 8px black;
  }

/* la barre sous le menu */
header .mixed-menu li a::after {
  margin-top: 29px;
  position: absolute;
  left: 0;
  width: 0%;
  height: 2px;
  background: white;
  content: '';
  opacity: 0;
  -webkit-transition: width 0.3s, opacity 0.2s, -webkit-transform 0.3s;
  -moz-transition: width 0.3s, opacity 0.2s, -moz-transform 0.3s;
  -o-transition: width 0.3s, opacity 0.2s, -o-transform 0.3s;
  transition: width 0.3s, opacity 0.2s,-webkit-transform 0.3s,-moz-transform 0.3s,-o-transform 0.3s,transform 0.3s;
}

header .mixed-menu li a:hover {
  text-decoration: none;
}
header .mixed-menu li a:hover::after,
header .mixed-menu li a:focus::after {
  opacity: 1;
  width: 100%;
  text-decoration: none;
}

/*............LOGO NAV...............*/
header .logomenu {
  float: right;
  margin-top: 14px;
  margin-right: 15px;

}

header .logomenu li {
  float: left;
  padding-right: 0.5em;

}

/* VOIR SCALE POUR EFFET */
.logosociaux {
  padding-top: 7px;
  width : 30px;
  height: 30px;

}

#logogithub {
  padding-top: 7px;
  width : 70px;
  height: 30px;
}



/*...................................ACCUEIL...........*/

#accueil {
  background-image : url("../image/photohome5.jpg");
  background-size: cover;
  background-attachment: fixed;
  color : white;
  height : 700px;
  text-align: center;
  padding-top: 250px;
  text-shadow: 0px 0px 8px black;
  border-bottom : 5px solid white;

}

.fleche {

  width: 50px;
  height: 50px;

}


/*...................................PRESENTATION...........*/
#presentation {
  padding-bottom : 50px;
  padding-top : 30px;
  border-bottom : 5px solid #00ADB5;

}

#profil {
  float : left;
  padding-left: 30px;
  padding-right: 30px;
  width : 250px;
  height : 300px;
}


/*.........................PARCOURS.................*/


/*.........................FORMATION.................*/
#formation {
  padding-bottom : 50px;
  padding-top : 30px;
  background-color: #393E46;
  color : #EEEEEE;
  border-bottom : 5px solid #00ADB5;
  height: 650px;
  text-align: center;
  text-shadow: 0px 0px 8px black;

}

#nrc {
  float : left;
  padding-left: 25px;
}

#bac {
  float : right;
  padding-right: 25px;
}
/*.........................EXPERIENCE.................*/

#experience {
  padding-bottom : 50px;
  padding-top : 30px;
  border-bottom : 5px solid #00ADB5;

}

/*.........................COMPETENCE.................*/
.competence {
  padding-bottom : 50px;
  padding-top : 30px;
  background-image : url("../image/code.jpg");
  background-size: cover;
  color : #EEEEEE;
  text-align: center;
  background-attachment: fixed;
  border-bottom : 5px solid #00ADB5;
  text-shadow: 0px 0px 8px black;

}


.logoskill {
  width : 100px;
  height: 100px;
}

/*.........................FRONT.................*/




/*.........................BACK.................*/



/*.........................REALISARION.................*/

#realisation h2 {
  margin-top: 40px;
}

#ordi {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom : 100px;
    padding-top : 30px;
}

/*.........................LOISIR.................*/

#loisir {
  background-color: #FFFFFF;
  border-bottom : 5px solid #00ADB5;
}

.imgloisir {
  width: 450px;
  height: 500px;

  margin-bottom: 10px;

}

#passion {
  display: flex;
  font-size : 0.650em;
  margin-bottom: 80px;

}
.elementpassion {
  color : #00ADB5;
  width: 430px;
  height : 500px;
  font-size: 0.650em;
  text-shadow: 0px 0px 8px white;

}

a.personal {
  position: relative;
  text-decoration: none;
  color : #00ADB5;
}

figure.imghvr-zoom-in {
  height :500px;
}

/*.........................CONTACT.................*/
#footer {
  background-color: #393E46;
  color : #EEEEEE;
  padding-bottom : 50px;
  padding-top : 30px;
  border-bottom : 5px solid #00ADB5;
  font-size: 0.5em;
  height: 400px;
  text-shadow: 0px 0px 8px black
}

#contact img {
 width : 50px;
 height: 50px;
 margin-left: 10px;
 margin-right: 10px;
}



#formulaire {
  float: left;
  margin-top: 30px;
  margin-left: 80px;
}

#contact {
  float : right;
  margin-top: 30px;
  margin-right: 90px;
}
